In [1]:
import pandas as pd
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
#Create an in-memory SQLite database.
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html
# sqlalchemy será usado para o envio de DataFlames diretamente para o banco.
from sqlalchemy import create_engine
from sqlalchemy import types

Questionamento #1

Quantos itens foram vendidos no total?

In [3]:
sql = 'SELECT COUNT(units) FROM  vendas;'
con = psycopg2.connect(host='localhost', database='dbpy', user='postgres', password='123')
pd.read_sql(sql,con)

     count
0  1260752

Questionamento #2

Quais foram as cidades fizeram mais vendas?

In [4]:
sql = 'SELECT city, units FROM geo, vendas  WHERE geo.zip = vendas.zip ORDER BY units DESC LIMIT 10 ;'
con = psycopg2.connect(host='amarelo.cp6xfa6zogly.us-east-2.rds.amazonaws.com', database='dbpy', user='postgres', password='postgres')
pd.read_sql(sql,con)

              city  units
0  West Sacramento     92
1            Miami     44
2            Miami     44
3        Creedmoor     40
4        Creedmoor     40
5           Normal     40
6        Nashville     36
7           Austin     33
8  West Sacramento     31
9       Rapid City     31

Questionamento #3

Qual o mês com a maior receita de vendas da Van Arsdel?

In [6]:
sql = 'SELECT vendas.revenue, vendas.date FROM vendas, produto WHERE produto.manufacturerid = 7 LIMIT 1;'
con = psycopg2.connect(host='amarelo.cp6xfa6zogly.us-east-2.rds.amazonaws.com', database='dbpy', user='postgres', password='postgres')
pd.read_sql(sql,con)

   revenue        date
0  5480.37  2011-11-03

Questionamento #4

Qual a média de receita do setor por ano?

In [4]:
sql = 'SELECT AVG(vendas.revenue) ,  produto.segment FROM vendas, produto GROUP BY  produto.segment ;'
con = psycopg2.connect(host='amarelo.cp6xfa6zogly.us-east-2.rds.amazonaws.com', database='dbpy', user='postgres', password='postgres')
pd.read_sql(sql,con)

           avg       segment
0  5571.784351    All Season
1  5571.784349   Convenience
2  5571.784350       Extreme
3  5571.784350    Moderation
4  5571.784395  Productivity
5  5571.784350       Regular
6  5571.784351        Select
7  5571.784352         Youth

Questionamento #5

Qual o segmento mais lucrativo para a Van Arsdel?

In [5]:
sql = 'SELECT SUM(vendas.revenue) ,  produto.segment FROM vendas, produto WHERE produto.manufacturerid = 7 GROUP BY  produto.segment  LIMIT 1 ;'
con = psycopg2.connect(host='amarelo.cp6xfa6zogly.us-east-2.rds.amazonaws.com', database='dbpy', user='postgres', password='postgres')
pd.read_sql(sql,con)

            sum  segment
0  1.615614e+11  Extreme

Questionamento #6

Dentro do segmento menos lucrativo, qual foi o produto que gerou mais receita?

In [27]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/dbpy')
con = psycopg2.connect(host='amarelo.cp6xfa6zogly.us-east-2.rds.amazonaws.com', database='dbpy', user='postgres', password='postgres')
pd.read_sql(sql,con)

   productid  revenue
0       1099   427.77

Questionamento #7

Qual o pior concorrente da Van Arsdel? Por quê?

In [6]:
# Concorrente trabalha no mesmo segmento principal
sql = "SELECT fabricante.manufacturer, sum(vendas.revenue) FROM fabricante, vendas, produto WHERE produto.segment = 'Extreme' GROUP BY  fabricante.manufacturer LIMIT 1;"
con = psycopg2.connect(host='amarelo.cp6xfa6zogly.us-east-2.rds.amazonaws.com', database='dbpy', user='postgres', password='postgres')
pd.read_sql(sql,con)

  manufacturer           sum
0        Abbas  2.437470e+12

Questionamento #8

Do estado com maior número de cidade distintas, qual foi a cidade que mais fez receita?

In [3]:
sql = 'SELECT  count(DISTINCT city) AS count , state FROM geo GROUP BY state ORDER BY count DESC LIMIT 1 ;'
con = psycopg2.connect(host='amarelo.cp6xfa6zogly.us-east-2.rds.amazonaws.com', database='dbpy', user='postgres', password='postgres')
pd.read_sql(sql,con)

   count state
0   1800    PA

In [25]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/dbpy')
con = psycopg2.connect(host='amarelo.cp6xfa6zogly.us-east-2.rds.amazonaws.com', database='dbpy', user='postgres', password='postgres')
pd.read_sql(sql,con)

            sum          city
0  6.111237e+11  Philadelphia